In [1]:
import importlib
import os
import sys
from glob import glob
import numpy as np
import pandas as pd
import random
from datetime import datetime as dt
caminho = os.path.abspath("../src/pylattesLXML/")
os.chdir(caminho)
dirpath = os.getcwd()
# Pacotes básicos
#show result from all calculations of the cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
#----Carregando Módulo
import pylattesLXML2 as lattes

In [2]:
nome = 'ALANA TAMAR OLIVEIRA DE SOUSA'

In [3]:
path = '../../data/raw/*'
#tmpNomes = lattes.makeDBnomes(path, save_to_disk = True)

In [10]:
PQ = lattes.Pesquisador()
PQ.periodo = ['2020','2019','2018','2017'];
PQ.nome = nome
file = PQ.getFileFromNome()
PQ.file = file
resultados = PQ.doSumarioUFCG()
pontos = resultados[0]
producao = resultados[1]
producao_pontuada = resultados[2]
pessoal = resultados[3]
demografico = resultados[4]
titulacao = resultados[5]

<center><h5> <img src="./assets/Logo-UFCG.png" width="80" > </h5> 
    <h1> UNIVERSIDADE FEDERAL DE CAMPINA GRANDE </h1>
    <h2> PRÓ-REITORIA DE PÓS-GRADUAÇÃO </h2>
    <h2> Coordenação de Pesquisa </h2>
    </center>

<div style="color:#ff8000;" ><h2> Informações Metodológicas </h2></div>


- As informações foram extraídas do CV Lattes do pesquisador fornecido pelo próprio pesquisador.
- Não foi realizada validação com o DTD do Lattes porque este está desatualizado e muitos falsos inválidos surgiram na primeira análise.
- Todas as análises foram realizadas com Python, biblioteca LXML, que mostrou melhor performance do que as alternativas nativas.
- Os elementos extraídos foram todos os elementos das árvores desejadas: Dados Pessoais, Formação Acadêmica, Produção Bibliográfica, Produção Técnica, Outras Produções.
- O período considerado foi o período de quatro anos.
- Dados de lotação foram extraídos de informações da própria UFCG, quando disponíveis.
- Devido a grande diversidade de dados fornecidos, não houve utilidade em validar ISSN, ISBN e DOI
- Pacote completo documentado será disponibilizado no GitHub.

<center><div style="color:blue;" ><h1> Relatório Individual de Produção Acadêmica </h1></div></center>

<div style="color:blue;" ><h2> Informações do Sistema </h2></div>

In [11]:
inicio = dt.now().strftime('%d/%m/%Y %H:%M')
print(inicio)
!whoami
!uname -a
!python --version

09/08/2020 21:11
lbarosi
Linux pergamon 4.15.0-112-generic #113-Ubuntu SMP Thu Jul 9 23:41:39 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux
Python 3.7.4

<div style="color:blue;" ><h2> Informações do Pesquisador </h2></div>

#### Dados Pessoais

In [12]:
pessoal

,DATA-ATUALIZACAO,ID,CPF,Matrícula,IES,Lotação,NOME-COMPLETO,NOME-COMPLETO
0,22062020,9565834328174854,04604738408,,,,Alana Tamar Oliveira de Sousa,Alana Tamar Oliveira de Sousa

#### Dados Demográficos

In [13]:
demografico

,NOME-COMPLETO,NOME-COMPLETO,DATA-NASCIMENTO,NACIONALIDADE,RACA-OU-COR,SEXO,UF-NASCIMENTO
0,Alana Tamar Oliveira de Sousa,Alana Tamar Oliveira de Sousa,22031983,,Branca,FEMININO,

<div style="color:blue;" ><h2> Informações de Titulação e Formação</h2></div>

In [14]:
titulacao

,ANO-DE-CONCLUSAO,ANO-DE-INICIO,TITULACAO,NOME-INSTITUICAO,NOME-AGENCIA,TIPO,SEQUENCIA-FORMACAO,NOME-CURSO,STATUS-DO-CURSO
0,2009,2007,GRADUACAO,Universidade Federal da Paraíba,,,27,Licenciatura em Enfermagem,CONCLUIDO
1,2007,2002,GRADUACAO,Universidade Federal da Paraíba,,,1,Enfermagem Geral,CONCLUIDO
2,,2018,ESPECIALIZACAO,Faculdade Estácio de João Pessoa,,NaN,35,Enfermagem Dermatológica,EM_ANDAMENTO
3,2011,2009,ESPECIALIZACAO,Faculdades Integradas de Patos,,NaN,26,Enfermagem do Trabalho,CONCLUIDO
4,2011,2009,MESTRADO,Universidade Federal da Paraíba,Conselho Nacional de Desenvolvimento Científic...,,25,Enfermagem,CONCLUIDO
5,2015,2012,DOUTORADO,Universidade Federal da Paraíba,,N,31,Enfermagem,CONCLUIDO
6,2010,2008,MESTRADO-PROFISSIONALIZANTE,Sociedade Brasileira de Terapia Intensiva,,NaN,20,Enfermagem em Terapia Intensiva,CONCLUIDO
7,2007,2006,APERFEICOAMENTO,ESPECIALIZA,,NaN,14,CAPACITAÇÃO EM URGÊNCIA E EMERGÊNCIA,CONCLUIDO

<div style="color:blue;" ><h2> Resumo da Produção Bibliográfica </h2></div>

In [15]:
producao

,LATTES,PRODUCAO,NATUREZA,flag_Nacional,SEQUENCIA-PRODUCAO,PONTOS,MAX
0,BIBLIOGRAFICA,TRABALHO-EM-EVENTOS,COMPLETO,Nacional,304,1.0,5.0
10,BIBLIOGRAFICA,ARTIGO-PUBLICADO,COMPLETO,Internacional,267,3.5,1000.0
11,BIBLIOGRAFICA,ARTIGO-PUBLICADO,COMPLETO,Internacional,270,3.5,1000.0
12,BIBLIOGRAFICA,ARTIGO-PUBLICADO,COMPLETO,Internacional,284,3.5,1000.0
13,BIBLIOGRAFICA,ARTIGO-PUBLICADO,COMPLETO,Internacional,285,3.5,1000.0
14,BIBLIOGRAFICA,ARTIGO-PUBLICADO,COMPLETO,Internacional,287,3.5,1000.0
15,BIBLIOGRAFICA,ARTIGO-PUBLICADO,COMPLETO,Internacional,288,3.5,1000.0
16,BIBLIOGRAFICA,ARTIGO-PUBLICADO,COMPLETO,Internacional,289,3.5,1000.0
17,BIBLIOGRAFICA,ARTIGO-PUBLICADO,COMPLETO,Internacional,313,3.5,1000.0
18,BIBLIOGRAFICA,ARTIGO-PUBLICADO,COMPLETO,Internacional,314,3.5,1000.0
19,BIBLIOGRAFICA,ARTIGO-PUBLICADO,COMPLETO,Internacional,324,3.5,1000.0
20,BIBLIOGRAFICA,ARTIGO-PUBLICADO,COMPLETO,Internacional,325,3.5,1000.0
21,BIBLIOGRAFICA,ARTIGO-PUBLICADO,COMPLETO,Internacional,326,3.5,1000.0
22,BIBLIOGRAFICA,ARTIGO-PUBLICADO,COMPLETO,Internacional,333,3.5,1000.0
23,BIBLIOGRAFICA,ARTIGO-PUBLICADO,COMPLETO,Internacional,334,3.5,1000.0
24,BIBLIOGRAFICA,ARTIGO-PUBLICADO,COMPLETO,Internacional,335,3.5,1000.0

## Resumo de Produção Pontuada

In [16]:
producao_pontuada

,LATTES,PRODUCAO,NATUREZA,flag_Nacional,SEQUENCIA-PRODUCAO,PONTOS,MAX,Pontuacao
0,BIBLIOGRAFICA,ARTIGO-PUBLICADO,COMPLETO,Internacional,15,3.5,1000.0,52.5
1,BIBLIOGRAFICA,TRABALHO-EM-EVENTOS,COMPLETO,Nacional,1,1.0,5.0,1.0

## Nota de Currículo

In [17]:
pontos

,ID,NOME,CPF,CPF_SAAP,ID_proj,EDITAL,AREA,PRODUCAO,DOUTOR,SAAP,NOTA
0,9565834328174854,ALANA TAMAR OLIVEIRA DE SOUSA,04604738408,04604738408,8536,PIBIC2020,ENFERMAGEM,53.5,2015,0,65.5

# Critérios de Pontuação

In [18]:
pontuacao = pd.read_excel('../data/pontuacao.xlsx')
pontuacao.fillna('')

,LATTES,PRODUCAO,NATUREZA,flag_Nacional,PONTOS,MAX
0,BIBLIOGRAFICA,ARTIGO-PUBLICADO,COMPLETO,Internacional,3.5,1000.0
1,BIBLIOGRAFICA,ARTIGO-PUBLICADO,COMPLETO,Nacional,2.5,1000.0
2,BIBLIOGRAFICA,ARTIGO-PUBLICADO,COMPLETO,VAZIO,2.5,1000.0
3,BIBLIOGRAFICA,OUTRA-PRODUCAO-BIBLIOGRAFICA,Capítulo de Livro,Nacional,2.5,1000.0
4,BIBLIOGRAFICA,OUTRA-PRODUCAO-BIBLIOGRAFICA,Divulgação Científica,Nacional,0.1,2.0
5,BIBLIOGRAFICA,OUTRA-PRODUCAO-BIBLIOGRAFICA,Divulgação Científica,Internacional,0.1,2.0
6,BIBLIOGRAFICA,OUTRA-PRODUCAO-BIBLIOGRAFICA,Publicação de resumo,Nacional,0.2,1000.0
7,BIBLIOGRAFICA,OUTRA-PRODUCAO-BIBLIOGRAFICA,Resumo Expandido,Nacional,0.5,1000.0
8,BIBLIOGRAFICA,OUTRA-PRODUCAO-BIBLIOGRAFICA,Resumo em revista,Nacional,0.1,1000.0
9,BIBLIOGRAFICA,OUTRA-PRODUCAO-BIBLIOGRAFICA,Revista,Nacional,0.1,2.0
10,BIBLIOGRAFICA,OUTRA-PRODUCAO-BIBLIOGRAFICA,preprinte eletrônico,Nacional,0.1,2.0
11,BIBLIOGRAFICA,TEXTO-EM-JORNAL-OU-REVISTA,JORNAL_DE_NOTICIAS,Nacional,0.1,2.0
12,BIBLIOGRAFICA,TRABALHO-EM-EVENTOS,COMPLETO,Internacional,1.5,7.5
13,BIBLIOGRAFICA,TRABALHO-EM-EVENTOS,COMPLETO,Nacional,1.0,5.0
14,BIBLIOGRAFICA,TRABALHO-EM-EVENTOS,RESUMO,VAZIO,0.2,1.0
15,BIBLIOGRAFICA,TRABALHO-EM-EVENTOS,RESUMO_EXPANDIDO,VAZIO,0.5,2.5
16,TECNICA,MARCA,VAZIO,VAZIO,2.0,1000.0
17,TECNICA,PATENTE,VAZIO,VAZIO,2.0,1000.0
18,TECNICA,PROCESSOS-OU-TECNICAS,ANALITICA,VAZIO,2.0,1000.0
19,TECNICA,PRODUTO-TECNOLOGICO,APARELHO,VAZIO,2.0,1000.0
20,TECNICA,SOFTWARE,NAO_INFORMADO,VAZIO,2.0,1000.0
21,OUTRAS,ARTES-CENICAS,TEATRAL,VAZIO,4.0,1000.0
22,OUTRAS,ARTES-VISUAIS,FILME,VAZIO,4.0,1000.0
23,OUTRAS,ARTES-VISUAIS,OUTRA,VAZIO,4.0,1000.0
24,OUTRAS,ARTES-VISUAIS,VIDEO,VAZIO,4.0,1000.0
25,OUTRAS,MUSICA,DIVERSAS,VAZIO,4.0,1000.0
26,OUTRAS,ORIENTACOES-CONCLUIDAS-PARA-DOUTORADO,Tese de doutorado,VAZIO,4.0,1000.0
27,OUTRAS,ORIENTACOES-CONCLUIDAS-PARA-MESTRADO,Dissertação de mestrado,VAZIO,2.5,1000.0
28,OUTRAS,OUTRA-PRODUCAO-ARTISTICA-CULTURAL,Exposição de Maquetes,VAZIO,0.5,2.0
29,OUTRAS,OUTRA-PRODUCAO-ARTISTICA-CULTURAL,Vídeo documentário,VAZIO,2.5,1000.0
30,OUTRAS,OUTRAS-ORIENTACOES-CONCLUIDAS,INICIACAO_CIENTIFICA,VAZIO,1.0,16.0